<h1>PRODUCTOS</h1>

<div id="productsContainer">
    {{#each products}}
        <div id="prod_{{id}}{{_id}}">
            <h3>{{title}}</h3>
            <ul>
                <li>Id: {{id}}{{_id}}</li>
                <li>Categoría: {{category}}</li>
                <li>Descripción: {{description}}</li>
                <li>Precio: ${{price}}</li>
                <li>Código: {{code}}</li>
                <li>Stock: {{stock}}</li>
                {{#each thumbnail}}
                    <img src="{{this}}" alt="Imagen del producto">
                {{/each}}
            </ul>
        </div>    
    {{/each}}    
</div>